.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 420px;
    padding: 20px;
    height: 455px;
    opacity:0.9;
}

.spanp{
    color:darkorange;
    font-size:22px;
}

.spancaption {
    color:dimgray;
    font-size: 15px;
}

.my-custom-class {
    backdrop-filter: blur(10px);
    background-color: whitesmoke;
}

.container {
    width: 100%;
    text-align: right;
    text-align: end;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0 0 0;
}

    .submit-button:hover {
        background-color: #0056b3;
    }

.create-account {
    margin:10px;
    text-align: center;
    vertical-align:bottom
}
    .create-account a:hover {
        text-decoration: underline;
        color: #007bff;
    }

.forgot-password {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items:  flex-end;
    margin: 0 10px 0 0;
}

    .forgot-password a {
        text-decoration: none;
    }

    .forgot-password a:hover {
        text-decoration: underline;
        color: #0056b3;
    }

.items {
    display: inline-block;
}

.inputText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: right;
}

.containerDivider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 50px 0 50px;
}

