.container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.card {
    width: 320px;
    height: 90%;
    margin:20px;
    padding: 15px ;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .second-card {
    width: 320px;
    height: 90%;
    margin: 20px;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .card ul li {
        margin: 10px 0 10px 0px;
    }

